<div class="container text-center" style="padding:10px 0; margin:0 0 30px 0; width: 100%; background-color: #F5F5F5;">EXAMPLE</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>Another Page!</h2><br>
      <a href="/"><button class="btn btn-default btn-sm">Home</button></a><br><br><br>
    </div>
  </div>
</div>

<div class="container-fluid" style="padding: 0; margin: 0;">
  <div class="row" style="padding:0; margin:0; width: 100%; background-color: #F5F5F5;">
    <div class="col-sm-12 text-center" style="padding: 5px 0; background-color: #F5F5F5;">
      <a href="https://github.com/EpicWiz/howto-node-sequelize-express-expressHB">
        <button class="btn btn-default btn-sm">Visit Repo</button>
      </a>
    </div>
  </div>
</div>
